#==[Symfony]==========================#
/app/config/parameters.yml
/app/config/config.yml
/app/config/parameters.yml.dist

/bin
/var/*
!/var/cache
/var/cache/*
!var/cache/.gitkeep
!/var/logs
/var/logs/*
!var/logs/.gitkeep
!/var/sessions
/var/sessions/*
!var/sessions/.gitkeep
!var/SymfonyRequirements.php

#==[Vendor]===========================#
/vendor/
/web/bundles/
/web/config.php

#==[Front]===========================#
/node_modules/

