/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/config/config.yml
/app/logs/*
/vendor/
/bin/
/composer.phar
/.idea/
/web/app.php
/elasticsearch-1.5.2/
/web/config.php
/src/Stanhome/ProductBundle
/src/Stanhome/ShoppingBundle
.idea/