.violetFime {
    color: #9379B5;
}

.typeahead.dropdown-menu {
	right: auto;
}

.typeahead {
	z-index: 1000;
	display: none;
	min-width: 160px;
	padding: 5px 0;
	margin: 2px 0 0;
	list-style: none;
	font-size: 14px;
	background-color: #fff;
	border: 1px solid #ccc;
	border: 1px solid rgba(0,0,0,.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
	box-shadow: 0 6px 12px rgba(0,0,0,.175);
	background-clip: padding-box;
	position: absolute;
}

.typeahead>li>a:hover, .typeahead>li>a:focus, .typeahead .ui-state-focus {
	color: #fff;
	text-decoration: none;
	outline: 0;
	background-color: #428bca;
}

.typeahead>li>a {
	display: block;
	padding: 3px 20px;
	clear: both;
	font-weight: 400;
	line-height: 1.428571429;
	color: #333;
	white-space: nowrap;
}

[class^="ui-helper-hidden"] {
	display: none;
}

input.multipleDataPresent {
	border-radius: 4px 4px 0 0;
}

.tableDataMultiple td:last-child {
	text-align: center;
}